.custom-label {
}
.custom-label:focus-within > span::after {
  content: attr(data-info) "";
  padding-right: 8px;
}
@media (max-width: 772px) {
  .custom-label:focus-within > span::after,
  .custom-label:focus-within > span {
    padding-right: 3px;
    font-size: 0.7em;
  }
}
.custom-label input:not(:placeholder-shown) + span,
.custom-label textarea:not(:placeholder-shown) + span {
  transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
}
